body { 
       margin:0px;
       padding:0px;
       font-family:serif;
}

h2 { 
     font-family:sans-serif;
}

.example pre { 
               background-color: #ccc;
               padding:25px;
               max-width:700px;
               border:1px solid #333;
}

.footer { 
          text-align:right;
          margin:50px;
          margin-top:0;
          font-size:small;
          font-family:sans-serif;
}

.main { 
        padding:50px;
}

.servicelist ul { 
               font-family:sans-serif;
}

.servicelist ul li { 
                  line-height: 25px;
                     font-weight: 700;
                     list-style-type:circle;
                  }

.stations ul { 
               font-family:sans-serif;
               font-size:small;
}

.stations ul li { 
                  line-height: 20px;
                  }