{% include "inc_head.html" %}

<h2><a href="http://www.bart.gov">Bay Area Rapid Transit</a></h2>

<div class="example">
<h3>Example</h3>

<pre>
GET <a href="{{ host|escape }}/bart/getinfo/16th">{{ host|escape }}/bart/getinfo/16th</a>

&lt;rsp stat="ok"&gt;
	&lt;station code="16th" service="bart"&gt;
		&lt;url&gt;<a href="http://www.bart.gov/stations/16th/">http://www.bart.gov/stations/16th/</a>&lt;/url&gt;
		&lt;name&gt;16th St. Mission (SF)&lt;/name&gt;
	&lt;/station&gt;
&lt;/rsp&gt;
</pre>
</div>

{% include "inc_stations.html" %}

{% include "inc_foot.html" %}
