{% include "inc_head.html" %}

<h2>This is Fake Subway APIs</h2>

<p>... plain-vanilla XML-over-HTTP API endpoints for returning information
  about train stations.</p>

<p>These are the currently supported transit services:</p>

<ul>
	<li><a href="/bart">Bay Area Rapid Transit (BART)</a></li>

	<li><a href="/stm">Société de transport de Montréal (STM)</a></li>

	<li><a href="/tfl">Transport For London (TFL)</a></li>

	<li><a href="/ukrail">UK National Rail Service</a></li>
</ul>        

<p>I have two hopes for Fake Subway APIs: 1)
  That they be replaced by real-live APIs operated by their respective transit
  services 2) That, in the meantime, people submit patches and data (geo
  information, for example) and help to shape the kinds of properly maintained
  APIs that we can hope to use in the future.</p>

<p>This source code for fakesubwayapis is also available
  on <a href="http://github.com/straup/gae-fakesubwayapis">GitHub</a>.</p>


{% include "inc_foot.html" %}
