{% include "inc_head.html" %}

<h2>This is Fake Subway APIs</h2>

<p>Fake Subway API is a plain-vanilla XML-over-HTTP API service for returning
  information about train and subway stations. It doesn't do much right now
  except return the name and URI for a station given its short code.</p>

<p>These are the currently supported transit services:</p>

<div class="servicelist">
<ul>
	<li><a href="/bart">Bay Area Rapid Transit (BART)</a></li>

	<li><a href="/gvb">Gemeentevervoersbedrijf Amsterdam (GVB)</a></li>

        <li><a href="/mbta">Massachusetts Bay Transportation Authority (MBTA)</a></li>

	<li><a href="/mta">New York Metropolitain Transportation Authority (MTA)</a></li>

	<li><a href="/stm">Société de transport de Montréal (STM)</a></li>

	<li><a href="/tfl">Transport For London (TFL)</a></li>

	<li><a href="/ttc">Toronto Transit Commission (TTC)</a></li>

	<li><a href="/ukrail">UK National Rail Service</a></li>

	<li><a href="/wmata">Washington Metropolitain Transit Authority (WMATA)</a></li>
</ul>        
</div>

<p>I have two hopes for Fake Subway APIs: 1)
  That they be replaced by real-live APIs operated by their respective transit
  services 2) That, in the meantime, people submit patches and data (geo
  information, for example) and help to shape the kinds of properly maintained
  APIs that we can hope to use in the future.</p>

<p>This source code for fakesubwayapis is also available
  on <a href="http://github.com/straup/gae-fakesubwayapis">GitHub</a>.</p>


{% include "inc_foot.html" %}
