{% include "inc_head.html" %}

<h2><a href="http://mta.info">New York Metropolitain Transport Association</a></h2>

<div class="example">
<h3>Example</h3>

<pre>
GET <a href="http://fakesubwayapis.appspot.com/mta/getinfo/67">http://fakesubwayapis.appspot.com/mta/getinfo/67</a>

&lt;rsp stat="ok"&gt;
	&lt;station code="67" service="mta"&gt;
		&lt;location lat="40.722318" lon="-73.997117"/&gt;
		&lt;name&gt;Spring St&lt;/name&gt;
		&lt;url&gt;http://www.mta.info/stations/67/&lt;/url&gt;
	&lt;/station&gt;
&lt;/rsp&gt;

</pre>
</div>

{% include "inc_stations.html" %}

{% include "inc_foot.html" %}
