{% include "inc_head.html" %}

<h2><a href="http://www.tfl.gov.uk/">Transport For London</a></h2>

<div class="example">
<h3>Example</h3>

<pre>
GET <a href="http://fakesubwayapis.appspot.com/tfl/getinfo/BST-B">http://fakesubwayapis.appspot.com/tfl/getinfo/BST-B</a>

&lt;rsp stat="ok"&gt;
	&lt;station code="BST-B" service="tfl"&gt;
		&lt;url&gt;<a href="http://www.tfl.gov.uk/tfl/livetravelnews/departureboards/tube/default.asp?LineCode=bakerloo&StationCode=BST">http://www.tfl.gov.uk/...?LineCode=bakerloo&StationCode=BST</a>&lt;/url&gt;
		&lt;name&gt;Baker Street&lt;/name&gt;
	&lt;/station&gt;
&lt;/rsp&gt;
</pre>
</div>

{% include "inc_stations.html" %}

{% include "inc_foot.html" %}
